PORT=3000

HEDERA_NETWORK=hedera:testnet
FACILITATOR_URL=https://api.testnet.blocky402.com

ENABLE_LIVE_HEDERA=false
ENABLE_HBAR_SMOKE_CHALLENGE=false
ENABLE_LIVE_HBAR_PAYMENTS=false
ENABLE_LIVE_USDC_PAYMENTS=false
